
:root {
  --primary: #e99401;
  --black: #262626;
  --blackburn: #000000a9;
  --white: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}
[class*="contenedor"], 
main {
  width: min(95%, 120rem);
  margin: 1.5rem auto;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}
.cont-error{
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error,
.error-enlace{
  font-size: 5rem;
  text-align: center;
  margin: 0 auto;
}
.error-enlace{
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  margin: 20px auto;
  padding: 1rem 3rem;
  background: var(--primary);
  color: aliceblue;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #535353;
}